<div class="row">
  <div class="col-md-12">
    <img [src]="recipe.imagePath" [alt]="recipe.description" class="w-50" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group open">
      <button
        #show="myDir"
        appDropdown
        type="button"
        class="btn btn-primary dropdown-toggle"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" [class.show]="this.drpdown.isShow">
        <li>
          <a (click)="onAddToShoppingList()"> To shopping List</a>
        </li>
        <li>
          <a (click)="onEdit()">Edit Recipe</a>
        </li>
        <li>
          <a (click)="onDelete()">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredient">
        {{ ingredient.name }} - ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
